<html>
<head></head>
<body>
<h1>出租车注册页面</h1>
<form action="/chu" method="post">
	<fieldset>
		<legend>表单项</legend><br/> 
		<label>姓名：</label><input type="text"  name="carname"/><br/> 
		<label>电话：</label> <input type="text"  name="phonenum"/><br/> 
		<label>驾照号：</label> <input type="text"  name="drivelic"/><br/> 
		<label>车牌号：</label> <input type="text"  name="licplnum"/><br/> 
		<label>公司：</label> <input type="text"  name="company"/><br/> 
		<label>车龄：</label> <input type="text"  name="carnum"/><br/> 
		<button type="submit" class="btn">提交</button>
	</fieldset>
</form>
</body>
</html>
