<html>
<head>乘客用户注册页面</head>
<body>
<h1>乘客用户注册页面</h1>
<form action="/passenger" method="post">
	<fieldset>
		<legend>表单项</legend><br/> 
		<label>姓名：</label><input type="text"  name="passengername"/><br/> 
		<label>电话：</label> <input type="text"  name="passphonenum"/><br/> 
		<button type="submit" class="btn">提交</button>
	</fieldset>
</form>
</body>
</html>
