<html>
<head>乘客打车信息记录页面</head>
<body>
<h1>乘客打车记录信息页面</h1>
<form action="passrecordin" method="post">
	<fieldset>
		<legend>表单项</legend><br/> 
		<label>ID：</label><input type="text"  name="passid"/><br/> 
		<label>司机电话：</label> <input type="text"  name="carphone"/><br/>
		<label>接单地点long：</label> <input type="text"  name="locallong"/><br/> 
		<label>接单地点lat：</label> <input type="text"  name="locallat"/><br/> 
		<button type="submit" class="btn">提交</button>
	</fieldset>
</form>
</body>
</html>
