<html>
<head>乘客用户注册页面</head>
<body>
<h1>乘客定位信息上传模拟页面</h1>
<form action="/passloca" method="post">
	<fieldset>
		<legend>表单项</legend><br/> 
		<label>电话：</label><input type="text"  name="passphone"/><br/> 
		<label>经度：</label> <input type="text"  name="long"/><br/>
		<label>纬度：</label> <input type="text"  name="lat"/><br/> 
		<label>出租车电话：</label> <input type="text"  name="carphone"/><br/> 
		<button type="submit" class="btn">提交</button>
	</fieldset>
</form>
</body>
</html>
